*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    background: linear-gradient(to right, darkslategrey, black);
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    position: relative;
    
    .word {
        color: whitesmoke;
        font-size: 10rem;
        cursor: none;
    }
}
img {
    width: 100%;
    height: auto;
}

.illumination {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    pointer-events: none;
    background: radial-gradient(circle at var(--x) var(--y), transparent -10%, black 25%);
}